
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 98%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 172 60% 40%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
    --chart-1: 262 70% 50%;
    --chart-2: 182 60% 45%;
    --chart-3: 352 80% 55%;
    --chart-4: 42 95% 60%;
    --chart-5: 222 75% 55%;

    --sidebar-background: 262.1 83.3% 57.8%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 262.1 83.3% 57.8%;
    --sidebar-accent: 262.1 83.3% 67.8%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 262.1 83.3% 52.8%;
    --sidebar-ring: 210 40% 98%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 210 40% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 210 40% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 210 40% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 172 60% 50%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 262.1 83.3% 57.8%;
    --chart-1: 262 80% 60%;
    --chart-2: 182 70% 50%;
    --chart-3: 352 90% 65%;
    --chart-4: 42 100% 65%;
    --chart-5: 222 85% 65%;

    --sidebar-background: 262.1 83.3% 57.8%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 262.1 83.3% 57.8%;
    --sidebar-accent: 262.1 83.3% 67.8%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 262.1 83.3% 52.8%;
    --sidebar-ring: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
