
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 231 43% 94%; /* #E8EAF6 */
    --foreground: 227 40% 17%;
    --card: 231 43% 98%;
    --card-foreground: 227 40% 17%;
    --popover: 231 43% 98%;
    --popover-foreground: 227 40% 17%;
    --primary: 227 40% 27%; /* #293462 */
    --primary-foreground: 0 0% 98%;
    --secondary: 231 43% 90%;
    --secondary-foreground: 227 40% 27%;
    --muted: 231 43% 90%;
    --muted-foreground: 227 40% 40%;
    --accent: 93 34% 37%; /* #558B2F */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 43% 85%;
    --input: 231 43% 88%;
    --ring: 227 40% 27%;
    --radius: 0.5rem;
    --chart-1: 227 40% 45%;
    --chart-2: 93 34% 45%;
    --chart-3: 352 80% 55%;
    --chart-4: 42 95% 60%;
    --chart-5: 200 50% 55%;

    --sidebar-background: 227 40% 27%;
    --sidebar-foreground: 231 43% 94%;
    --sidebar-primary: 231 43% 94%;
    --sidebar-primary-foreground: 227 40% 27%;
    --sidebar-accent: 227 40% 37%;
    --sidebar-accent-foreground: 231 43% 94%;
    --sidebar-border: 227 40% 22%;
    --sidebar-ring: 231 43% 94%;
  }

  .dark {
    --background: 227 20% 11%;
    --foreground: 231 43% 94%;
    --card: 227 20% 15%;
    --card-foreground: 231 43% 94%;
    --popover: 227 20% 15%;
    --popover-foreground: 231 43% 94%;
    --primary: 227 40% 67%; 
    --primary-foreground: 227 40% 10%;
    --secondary: 227 20% 20%;
    --secondary-foreground: 231 43% 94%;
    --muted: 227 20% 20%;
    --muted-foreground: 231 43% 70%;
    --accent: 93 34% 47%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 227 20% 25%;
    --input: 227 20% 25%;
    --ring: 227 40% 67%;
    --chart-1: 227 40% 55%;
    --chart-2: 93 34% 55%;
    --chart-3: 352 90% 65%;
    --chart-4: 42 100% 65%;
    --chart-5: 200 60% 65%;

    --sidebar-background: 227 40% 27%;
    --sidebar-foreground: 231 43% 94%;
    --sidebar-primary: 231 43% 94%;
    --sidebar-primary-foreground: 227 40% 27%;
    --sidebar-accent: 227 40% 37%;
    --sidebar-accent-foreground: 231 43% 94%;
    --sidebar-border: 227 40% 22%;
    --sidebar-ring: 231 43% 94%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
